[Unit]
After=network.target
Description=Telegram Bot

[Service]
Type=simple
WorkingDirectory=/opt/tgbot/
ExecStart=/usr/bin/python3 bot.py
Restart=always

[Install]
WantedBy=multi-user.target